@media (max-width: 1200px){
    header{
        .logo{
            width: 400px;  
        }
        .logo-girl{
            width: 170px;
            img{
                width: 100%;
            }
        }
    }
    section.contacts{
        .map{
            iframe{
                height: 270px;
            }
        }
    }
}
@media (max-width: 992px){
    body{
        font-size: 12px;
    }
    .row{
        margin-left:  0px;
        margin-right: 0px;
    }
    header{
        .logo{
            width: 400px;
            margin: 0 auto;
        }
        .logo-girl{
            display: none;
        }
    }
    section.contacts{
        .prev{
            width: 90%;
        }
        .map{
            iframe{
                height: 270px;
            }
        }
    }
}
@media (max-width: 810px){
    
}
@media (max-width: 768px){
    header{
       display: table;
        width: 100%;
        height: 100vh;
        .row{
             display: table-cell;
            vertical-align: middle;
        }
    }
    section.contacts{
        .contacts-box{
            font-size: 1.3em;
    
        }
        .prev{
            width: 70%;
            margin-top: 20px;
        }
    }
    
}
@media (max-width: 500px){
    .hamburger{
        position: fixed;
        left: 10px;
        z-index: 1;
    }
    header{
        
        .logo{
            width: 300px;
        }
    }
    section.service{
        text-align: center;
        .post{
            h3{
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
        .slick-arrow{
            top: 10%;
        }
        .slick-prev{
            left: 0;
        }
        .slick-next{
            right: 14px;
        }
    }
}